# Requirements for application, hand-written.
# No pip freeze here, just the tools you need.
pandas
numpy
matplotlib
plotly
seaborn
duckdb # pour découper jeux de données
basemap # pour afficher des cartes
scikit-learn # pour modèles et calcul de distances euclidiennes
tqdm
typer
typing_extensions
python-docx 
streamlit
